@import "tailwindcss";

:root {
  --app-nav-sidebar-width: 220px;
  --app-nav-sidebar-collapsed-width: 80px;
}

html, body, .app-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-root {
  display: block;
}

.app-root .loading-indicator {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 48px;
  margin-left: -100px;
  margin-top: -50px;
  text-align: center;
  line-height: 48px;
}

img.ant-image-preview-img {
  display:inline !important;
}
